.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 160vh;
  background: url("../Images/Reg-Background.jpg");
  background-size: cover;
  background-position: center;
}

.regform {
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
}

.regh1 {
  color: rgb(77, 1, 77);
  text-align: center;
}

.regbutton {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rebeccapurple;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}
.formInput {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 10px;
}
.flex1{
  display:flex;
  width : 50px;
}

.flex2{
  width : 250px;
}

.car{
  height: 300px;

}